.problems {
  position: relative;
  background: #262626;
  height: 100vh;

  &-image {

    &-background {
      position: absolute;
      top: 0;
      transform: translateY(100%);
      transition: .2s all linear;
    }
  }

  &-title {
    position: absolute;
    top: 80px;
    left: 10%;
    z-index: 1;

    font-family: 'Vipnagorgialla', sans-serif;
    font-weight: 700;
    font-size: 150px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: 1s all linear;

    color: #FFFFFF;

    &_red {
      color: #DC1D03;
    }
  }

  &-block {
    display: flex;
    flex-direction: column;
    width: 50%;

    position: absolute;
    right: 60px;
    top: 155px;
    transform: translateY(120%);
    transition: .2s all linear;

    &_secondary {
      position: absolute;
      bottom: 0;
      left: 90px;
    }

    &-image {
      width: fit-content;
      height: fit-content;
    }

    &-text {
      display: flex;
      flex-direction: column;
      width: 95%;
      gap: 20px;
    }

    &-title {
      font-weight: 700;
      font-size: 30px;
      line-height: 130%;
      text-transform: uppercase;

      color: #FFFFFF;
    }

    &-description {
      font-weight: 500;
      font-size: 25px;
      line-height: 130%;

      color: #FFFFFF;
    }
  }
}
