@import "src/styles/mixins/animate";

.solution {
  position: relative;
  background: #fff url(../../../public/assets/images/solution.png) 0 0 no-repeat;
  height: 100vh;

  &-image {
    &-fourth {
      @include animateElement();

      position: absolute;
      left: 180px;
      bottom: 25%;
      z-index: 1;
    }

    &-fifth {
      @include animateElement();

      position: absolute;
      right: 45px;
      bottom: 25%;
      z-index: 1;
    }

    &-sixth {
      @include animateElement();

      position: absolute;
      right: 50%;
      bottom: 0;
      transform: translate(50%, 0);
    }
  }

  &-title {
    @include animateElement();

    z-index: 1;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%) scale(0.3);

    font-family: 'Vipnagorgialla', sans-serif;
    font-weight: 400;
    font-size: 250px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #FFFFFF;

    &_active {
      opacity: 1;
      transform: translate(50%, -50%) scale(1);
    }

    &-wrapper {
      font-family: 'Vipnagorgialla', sans-serif;
      font-weight: 700;
      font-size: 150px;
      line-height: 100%;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      transition: 1s all linear;
      color: #262626;

      div {
        position: absolute;
        transition: .2s all linear;
        left: -75px;
        opacity: 0;
      }
    }
  }

  &-item {
    width: fit-content;
    position: relative;

    &-wrapper {
      position: absolute;
      z-index: 2;

      &_first {
        @include animateElement();

        top: 0;
        left: 0;
      }

      &_second {
        @include animateElement();

        top: 0;
        right: 0;
      }

      &_third {
        @include animateElement();

        top: 142px;
        right: 50%;
        transform: translate(50%, 0);
      }
    }

    &-image {

    }

    &-title {
      position: absolute;
      top: 25%;
      right: 50%;
      transform: translate(50%, 0);
      font-weight: 700;
      font-size: 70px;
      line-height: 150%;
      text-align: center;
      text-transform: uppercase;

      color: #FFFFFF;
    }

    &-text {
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);

      font-weight: 700;
      font-size: 32px;
      line-height: 150%;
      text-align: center;
      text-transform: uppercase;

      color: #FFFFFF;

      &_secondary {
        top: 65%;
      }
    }
  }
}
