@import "src/styles/mixins/animate";

.video {
  position: relative;
  background: #fff url(../../../public/assets/images/video_background.png) 0 0 no-repeat;
  height: 100vh;
  width: 100vw;

  &-planets {
    @include animateElement();

    position: absolute;
    right: 0;
    bottom: 90px;
  }

  &-item {
    @include animateElement();

    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;

    max-width: 1666px;
    width: 100%;

    &_active {
      pointer-events: all;
    }
  }

  &-circle {
    @include animateElement();

    position: absolute;
    top: 15px;
    left: 15px;
  }

  &-lines {
    @include animateElement();

    position: absolute;
    top: 18px;
    right: 30px;
  }
}
