@import "src/styles/mixins/animate";

.support {
  position: relative;
  background: #EBEBEB;
  height: 100vh;

  &-content {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  &-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1286px;
    padding-left: 60px;
  }

  &-title {
    @include animateElement();

    font-family: 'Vipnagorgialla', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #262626;
  }

  &-description {
    @include animateElement();

    font-weight: 500;
    font-size: 25px;
    line-height: 130%;

    color: #262626;
  }

  &-block {
    display: flex;
    flex-direction: row;
    gap: 280px;
    padding: 80px 0 80px;

    transform: translate(100%, 0);

    &-item {
      position: relative;

      &:nth-child(2) {
        margin-right: 30px;
      }

      &:nth-child(3) {
        margin-right: 50px;
      }

      &:nth-child(4) {
        margin-right: 50px;
      }

      &-tringle {
        z-index: 1;
        position: relative;
      }

      &-content {
        position: absolute;
        top: 50%;
        left: 75px;
        transform: translate(0, -50%);
      }

      &-image {

      }

      &-text {
        font-weight: 700;
        font-size: 23.1354px;
        line-height: 130%;

        color: #FFFFFF;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
      }
    }
  }

  &-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &-wrapper {
      @include animateElement();

      padding: 40px 60px;
      background: #00AC7C;
    }

    &-title {
      font-family: 'Vipnagorgialla', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 130%;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      color: #FFFFFF;
    }

    &-button {
      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      text-align: center;
      text-transform: uppercase;

      color: #00AC7C;
      padding: 22px 68px;
      background: #EBEBEB;
      border-radius: 130px;
    }
  }
}
