@import "src/styles/mixins/animate";

.about {
  position: relative;
  background: #EFECE5;
  height: 100vh;
  z-index: 1;

  transition: .2s all linear;

  &-image {
    &_first {
      position: absolute;
      right: 140px;
      top: 0;

      opacity: 0;
      transition: .2s all linear;
    }

    &_second {
      position: absolute;
      bottom: 45px;
      left: 250px;

      opacity: 0;
      transition: .2s all linear;
    }

    &_third {
      position: absolute;
      bottom: 0;
      right: 140px;

      opacity: 0;
      transition: .2s all linear;
      transform: translateY(150%);
    }

    &_fourth {
      position: absolute;
      bottom: 0;
      left: 250px;

      opacity: 0;
      transition: .2s all linear;
      transform: translateY(250%);
    }

    &_fifth {
      position: absolute;
      bottom: 0;
      right: 140px;

      opacity: 0;
      transition: .2s all linear;
      transform: translateY(600%);
    }
  }

  &-content {
    display: flex;
    flex-direction: row;
    gap: 75px;
    position: relative;
    z-index: 1;

    padding: 110px 60px 0;
  }

  &-left-panel {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 40%;
  }

  &-right-panel {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 40%;
  }

  &-text {
    @include animateElement();

    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 130%;
    text-transform: uppercase;

    color: #262626;

    &_main {
      font-family: 'Vipnagorgialla', sans-serif;
      font-weight: 700;
      font-size: 150px;
      line-height: 100%;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      color: #262626;
    }
  }

  &-paragraph {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;

    color: #262626;
  }

  &-button {
    @include animateElement();
    
    width: fit-content;
    padding: 23px 72px;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
    background: #177378;
    border-radius: 130px;
    transition: .2s all linear;

    &:hover {
      background: #1CA8AF;
    }

    &:active {
      background: #0A5559;
    }
  }
}