@import "src/styles/mixins/animate";

.consuls {
  position: relative;
  background: #fff url(../../../public/assets/images/consuls_background.png) 0 0 no-repeat;
  height: 100vh;

  &-globus {
    @include animateElement();

    position: absolute;
    bottom: 0;
    right: 0;
    mix-blend-mode: color-dodge;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 20px 0 0 60px;
    width: 70%;
  }

  &-top {
    @include animateElement();

    display: flex;
    flex-direction: column;
    gap: 10px;

    &-title {
      font-family: 'Vipnagorgialla', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 90px;
      line-height: 110%;
      text-transform: uppercase;

      color: #FFFFFF;
    }

    &-description {
      font-weight: 500;
      font-size: 20px;
      line-height: 130%;
      max-width: 80%;

      color: #FFFFFF;
    }
  }

  &-body {
    @include animateElement();

    display: flex;
    flex-direction: column;
    gap: 30px;

    &-title {
      font-weight: 500;
      font-size: 50px;
      line-height: 130%;
      text-transform: uppercase;

      color: #FFFFFF;
    }

    &-list {
      display: flex;
      flex-direction: row;
      gap: 70px;
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &-text {
        display: flex;
        flex-direction: column;
      }

      &-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;

        color: #FFFFFF;
      }

      &-title {
        font-weight: 700;
        font-size: 25px;
        line-height: 130%;

        color: #FFFFFF;
      }
    }
  }

  &-bottom {
    @include animateElement();

    display: flex;
    flex-direction: column;
    gap: 10px;

    &-title {
      font-weight: 500;
      font-size: 50px;
      line-height: 130%;
      text-transform: uppercase;

      color: #FFFFFF;
    }

    &-description {
      font-weight: 500;
      font-size: 20px;
      line-height: 130%;
      max-width: 70%;

      color: #FFFFFF;
    }
  }
}
