.people {
  position: relative;
  background: #EBEBEB;
  height: 1080px;
  z-index: 1;

  &-text {
    padding: 60px 0 0 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &-title {
    font-family: 'Vipnagorgialla', sans-serif;
    font-weight: 400;
    font-size: 120px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    max-width: 50%;
    color: #262626;
  }

  &-image {
    position: absolute;
  }
}
