@font-face {
  font-family: "Vipnagorgialla";
  font-weight: 400;
  font-style: normal;
  src:  local("Vipnagorgialla Regular"),
  local("Vipnagorgialla-Regular"),
  url("../assets/fonts/Vipnagorgialla-Regular.ttf") format('ttf'),
  url("../assets/fonts/Vipnagorgialla-Regular.woff") format('woff'),
  url("../assets/fonts/Vipnagorgialla-Regular.otf") format('otf'),
  url("../assets/fonts/Vipnagorgialla-Regular.woff2") format('woff2');
  font-display: swap;
}

@font-face {
  font-family: "Vipnagorgialla";
  font-weight: 700;
  font-style: normal;
  src:  local("Vipnagorgialla Bold"),
  local("Vipnagorgialla-Bold"),
  url("../assets/fonts/Vipnagorgialla-Bold.ttf") format('ttf'),
  url("../assets/fonts/Vipnagorgialla-Bold.woff") format('woff'),
  url("../assets/fonts/Vipnagorgialla-Bold.otf") format('otf'),
  url("../assets/fonts/Vipnagorgialla-Bold.woff2") format('woff2');
  font-display: swap;
}
