@import "src/styles/mixins/animate";

.team {
  position: relative;
  background: #8C3636;
  height: 100vh;

  &-content {
    padding-top: 20px;
  }

  &-top {
    display: flex;
    flex-direction: row;
    width: 300%;
    gap: 60px;

    padding: 34px 20px 36px;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;

    animation-name: road;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    &-text {
      font-family: 'Vipnagorgialla', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 100%;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      color: #FFFFFF;

    }
  }

  &-swiper {
    display: flex;
    flex-direction: row;
    gap: 114px;
    width: 380%;

    padding: 90px 0 0 60px;
    border-bottom: 1px solid #FFFFFF;

    animation-name: persons;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    &-slide {
      position: relative;

      &-text {
        cursor: pointer;
        width: fit-content;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        text-align: center;
        text-transform: uppercase;

        color: #262626;
        background: #FFFFFF;
        border: 2px solid #177378;
        border-radius: 130px;
        padding: 24px 60px;
        position: absolute;
        bottom: 28px;
        right: -60px;
      }
    }
  }

  &-links {
    display: flex;
    flex-direction: row;
    gap: 100px;

    &-wrapper {
      position: absolute;
      bottom: 30px;
      right: 50%;
      transform: translate(50%, 0);
      margin: 0 auto;
      max-width: 1166px;
    }

    &-item {
      font-weight: 800;
      font-size: 40px;
      line-height: 130%;
      text-transform: uppercase;

      color: #FFFFFF;
    }
  }
}

@keyframes road {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-40%);
  }
}

@keyframes persons {
  0% {
    transform: translateX(-73%);
  }

  100% {
    transform: translateX(0%);
  }
}
