.roadmap {
  position: relative;
  background: #fff url(../../../public/assets/images/roadmap-background.png) 0 0 no-repeat;
  height: 100vh;

  &-light {
    position: absolute;
    top: 50px;
    right: 130px;
  }

  &-block {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 160px;
    transform: translate(60%, 0);
    transition: .2s all linear;

    padding: 72px 0 0 60px !important;

    &-light {
      position: absolute;
      top: 0;
      left: 60px;
    }

    &-wrapper {
      position: absolute;
      top: 110px;

      display: flex;
      flex-direction: column;
    }

    &-title {
      padding-left: 60px;
      font-family: 'Vipnagorgialla', sans-serif;
      font-weight: 700;
      font-size: 200px;
      line-height: 100%;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      color: #FFFFFF;


      &::before {
        content: "";
        display: block;

        position: absolute;
        top: 160px;
        left: 0;

        width: 100%;
        height: 3px;
        background: #FFFFFF;
      }
    }

    &-item {
      position: relative;
      display: flex;
      flex-direction: row;
      gap: 40px;
      width: fit-content !important;

      &::before {
        content: "";
        display: block;

        position: absolute;
        top: -110px;
        left: 65px;
        width: 3px;
        height: 110px;
        background: #FFFFFF;
      }

      &-content {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 32px;

        padding-top: 60px;
        width: 510px;
      }

      &-topic {
        font-weight: 800;
        font-size: 160px;
        line-height: 130%;
        text-transform: uppercase;

        position: absolute;
        top: -75px;
        color: #FFFFFF;
        opacity: 0.2;
      }

      &-title {
        position: relative;
        font-weight: 800;
        font-size: 30px;
        line-height: 130%;
        text-transform: uppercase;

        color: #FFFFFF;

        &::before {
          content: "";
          display: block;
          position: absolute;
          bottom: -10px;
          left: 0;

          height: 3px;
          width: 70px;
          background: #FFFFFF;
        }

        &_secondary {
          &::before {
            content: "";
            display: block;
            position: absolute;
            bottom: -10px;
            left: 0;

            height: 3px;
            width: 60%;
            background: #FFFFFF;
          }
        }
      }

      &-description {
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;

        color: #FFFFFF;
      }
    }
  }

}
